In [80]:
import pandas as pd
import numpy as np
import requests

#Parsing data 
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url, 'html.parser')

## DATA 1
#1. Finding specific data table in Wikipedia
my_table = soup.find('table', {'class': 'wikitable sortable'})

#2. Scraping data - header
headers = []
headers = [header.text for header in my_table.findAll('th')]
headers = [i.replace("\n", "") for i in headers]

#3. Scraping data - rows
rows = []
for row in my_table.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) > 0:
        name_link = cells[0].find('a')
        name_info = [cell.text.strip('\n') for cell in cells]
        rows.append(name_info)
        
df1 = pd.DataFrame(rows, columns=headers)

## DATA 2
# 1. Import data from CSV file
df2 = pd.read_csv("Datasets/Geospatial_Coordinates.csv", index_col="Postcode")

## Merging 2 datasets and filling NaN values with a value 
df3 = pd.merge(df1,df2, how='left', on='Postcode')
df3.fillna('0.00',  inplace=True)
df3

    Postcode           Borough           Neighborhood Latitude Longitude
0        M1A      Not assigned           Not assigned     0.00      0.00
1        M2A      Not assigned           Not assigned     0.00      0.00
2        M3A        North York              Parkwoods  43.7533  -79.3297
3        M4A        North York       Victoria Village  43.7259  -79.3156
4        M5A  Downtown Toronto           Harbourfront  43.6543  -79.3606
..       ...               ...                    ...      ...       ...
282      M8Z         Etobicoke              Mimico NW  43.6288   -79.521
283      M8Z         Etobicoke     The Queensway West  43.6288   -79.521
284      M8Z         Etobicoke  Royal York South West  43.6288   -79.521
285      M8Z         Etobicoke         South of Bloor  43.6288   -79.521
286      M9Z      Not assigned           Not assigned     0.00      0.00

[287 rows x 5 columns]