In [75]:
import pandas as pd
import numpy as np

# Make list of missing value types
missing_values = ['Not assigned']
df = pd.read_csv('Datasets/CanadianPostalCode_M.csv', na_values = missing_values)

print(df['Borough'], (df['Neighbourhood']))
print((df['Borough']).isnull())
print((df['Neighbourhood']).isnull())

# Assess total missing values 
print(df.isnull().sum())
print (df.isnull().values.any())
print (df.isnull().sum().sum())

# Replacing missing values
df['Borough'].fillna('In progress', inplace = True)
df['Neighbourhood'].fillna('TBA', inplace = True)
df.head()

0                   NaN
1                   NaN
2            North York
3            North York
4      Downtown Toronto
             ...
282           Etobicoke
283           Etobicoke
284           Etobicoke
285           Etobicoke
286                 NaN
Name: Borough, Length: 287, dtype: object 0                        NaN
1                        NaN
2                  Parkwoods
3           Victoria Village
4               Harbourfront
               ...
282                Mimico NW
283       The Queensway West
284    Royal York South West
285           South of Bloor
286                      NaN
Name: Neighbourhood, Length: 287, dtype: object
0       True
1       True
2      False
3      False
4      False
       ...
282    False
283    False
284    False
285    False
286     True
Name: Borough, Length: 287, dtype: bool
0       True
1       True
2      False
3      False
4      False
       ...
282    False
283    False
284    False
285    False
286     True
Name: Neighbourhood, Length: 287, dtype: bool
Postcode          0
Borough          77
Neighbourhood    78
dtype: int64
True
155

  Postcode           Borough     Neighbourhood
0      M1A       In progress               TBA
1      M2A       In progress               TBA
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront